<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="opt-start" autocomplete="off" checked> Start
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="opt-pause" autocomplete="off"> Pause
  </label>
</div>
<p> </p>
<div class="list-group" id="cont-dev"></div>
