<h6>Log Path: <%=logPath%></h6>

<div class="form-group">
    <input type="text" class="form-control" placeholder="MAC address filter" id="mac-filter" name="mac-filter">
</div>

<p>
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" id="opt-start" autocomplete="off" checked> Start
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="opt-stop" autocomplete="off"> Stop
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" id="opt-pause" autocomplete="off"> Pause
  </label>
</div>
</p>

<div class="list-group" id="cont-dev"></div>
