    <form>
        <input type="text" name="mqtt-host" placeholder="MQTT Host" value="mqtt.bconimg.com">
        <input type="number" name="mqtt-port" placeholder="MQTT Port" value="1883">
        <input type="text" name="mqtt-topic" placeholder="Topic" value="beacon6c">
        <input type="text" name="mqtt-username" placeholder="MQTT Username">
        <input type="text" name="mqtt-password"  placeholder="MQTT Password">
        <button id="btn-test" type="button">Test</button>
    </form>
