<form id="f-server">
    <div class="form-row">
        <div class="form-group col-md-7">
          <label for="mqtt-host">MQTT Host</label>
          <input type="text" id="mqtt-host" name="mqtt-host" placeholder="MQTT Host" value="mqtt.bconimg.com" class="form-control">
        </div>

        <div class="form-group col-md-5">
            <label for="mqtt-port">MQTT Port</label>
            <input type="number" id="mqtt-port" name="mqtt-port" placeholder="MQTT Port" value="1883" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="mqtt-topic">MQTT Topic</label>
        <input type="text" class="form-control" id="mqtt-topic" name="mqtt-topic" placeholder="MQTT topic, please check the setting of BLE gateway">
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="mqtt-username">MQTT Username</label>
            <input type="text" name="mqtt-username" id="mqtt-username" placeholder="MQTT Username" class="form-control">
        </div>
        <div class="form-group col-md-6">
            <label for="mqtt-password">MQTT Password</label>
            <input type="text" name="mqtt-password" id="mqtt-password" placeholder="MQTT Password" class="form-control">
        </div>
        <button id="btn-test" type="submit" class="btn btn-primary">Test</button>
    </div>
</form>
